/* Produtos */
.container-pr{
    width: 100%;
    height: auto;
    margin-bottom: 4%;
    animation: fadeIn 5s;
}
.caixa{
    margin-top: 4%;
    margin-left: 20%;
    display: flex;
    width: 50%;
    height: auto;

    background-color: rgb(224, 224, 224);
    border-radius: 2%;
}
.caixa img{
    width: 40%;
    height: auto;

    border-radius: 3% 0 0 3%;
}
.txt-caixa{
    padding: 50px;
}
.txt-caixa h1{
    margin-bottom: 10%;
}
.txt-caixa button{
    cursor: pointer;
    width: 100px;
    height: 30px;

    font-size: 15px;

    border: black solid 2px;
    border-radius: 15px;
}
.txt-caixa button:hover{
    color: white;
    border-color: rgb(56, 238, 50);
    background-color: rgb(56, 238, 50);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/*--------------------------------------------------------------------------------------*/

/* Página 3 */
/* Items */
.produtos-items{
    width: 100%;
    height: auto;
    animation: fadeIn 5s;
}
.produtos-items .item1{
    display: none;
}
.produtos-items .item2{
    display: none;
}
.produtos-items .item3{
    display: none;
}
.produtos-items .item4{
    display: none;
}
.item1{
    display: inline-block;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: auto;
}
.item1 img{
    margin-left: 1%;
    margin-bottom: 1%;
    width: 150px;
    height: 150px;
}
.item2{
    display: inline-block;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: auto;
}
.item2 img{
    margin-left: 1%;
    margin-bottom: 1%;
    width: 150px;
    height: 150px;
}
.item3{
    display: inline-block;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: auto;
}
.item3 img{
    margin-left: 1%;
    margin-bottom: 1%;
    width: 150px;
    height: 150px;
}
.item4{
    display: inline-block;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: auto;
}
.item4 img{
    margin-left: 1%;
    margin-bottom: 1%;
    width: 150px;
    height: 150px;
}
/*--------------------------------------------------------------------------------------*/
